---
import "@globalcss";

export interface HeadProps {
  title?: string;
  description?: string;
}

const {
  title = "Arkansas Tech University Machine Learning",
  description = "Arkansas Tech Unversity Machine Learning",
} = Astro.props as HeadProps;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} property="og:description" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <title>{title} | ATUML</title>
</head>
