<nav>
  <a href="/">
    <img
      src="https://www.atu.edu/_resources/images/logo-white.png"
      alt="Arkansas Tech University Logo"
      width="200"
    />
  </a>
  <div class="links">
    <a href="/who-we-are" class="link">Who We Are</a>
    <a href="/projects" class="link">Projects</a>
    <a href="/contact" class="link">Get In Contact</a>
  </div>
</nav>
