---
import { Book, Mail, Smile } from "astro-feather-icons";
import NavLink from "./NavLink.astro";
---

<nav>
  <a href="/">
    <img
      src="https://www.atu.edu/_resources/images/logo-white.png"
      alt="Arkansas Tech University Logo"
      width="200"
    />
  </a>
  <ul class="links">
    <NavLink label="Who We Are" href="/who-we-are">
      <Smile />
    </NavLink>
    <NavLink label="Our Projects" href="/projects">
      <Book />
    </NavLink>
    <NavLink label="Contact Us" href="/contact">
      <Mail />
    </NavLink>
  </ul>
</nav>
