<nav>
  <a href="/">
    <img
      src="https://www.atu.edu/_resources/images/logo-white.png"
      alt="Arkansas Tech University Logo"
      width="200"
    />
  </a>
  <ul class="links">
    <li><a href="/who-we-are">Who We Are</a></li>
    <li><a href="/projects">Our Projects</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</nav>
