/* Global Variables */
:root {
  /* Branding Color Palette */
  --c-atu-gold: rgb(255, 205, 0);
  --c-atu-green: rgb(17, 87, 64);

  /* Alternate colors not depicted on design spec but still used on ATU-branded sites */
  --c-atu-gold-alt: rgb(251, 192, 45);
  --c-atu-green-alt: rgb(7, 45, 42);

  /* Secondary Color Palette */
  --c-sea: rgb(57, 147, 77);
  --c-space: rgb(0, 47, 71);
  --c-steel: rgb(121, 150, 178);
  --c-sky: rgb(207, 225, 244);
  --c-bistre: rgb(56, 45, 0);
  --c-black: black;
  --c-white: white;

  /* Typography */
  // TODO: Figure out font faces to use

  /* Utilities */
  --b-radius: 1em;
  --b-radius-full: 50%;
  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  padding: 0;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
}

nav {
  background-color: var(--c-atu-green-alt);
  border-bottom-left-radius: var(--b-radius);
  border-bottom-right-radius: var(--b-radius);
  box-shadow: var(--box-shadow);

  display: flex;
  align-items: center;
  justify-content: space-between;

  // Initially, don't display the navigation links in favor of mobile styles.
  ul {
    display: none;
  }
}

// Disallow images from overflowing their containers.
img {
  max-width: 100%;
  height: auto;
}

// Component class to display buttons similar to buttons on the atu.edu website.
.btn {
  background-color: transparent;
  color: var(--c-atu-gold) !important;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  white-space: normal !important;
  font-weight: 600;
  font-size: 0.8rem;

  border: 2px solid var(--c-atu-gold);
  border-radius: var(--b-radius);
  box-shadow: var(--box-shadow);

  -webkit-transition: all 0.25s 0s ease-in-out;
  -moz-transition: all 0.25s 0s ease-in-out;
  -o-transition: all 0.25s 0s ease-in-out;
  transition: all 0.25s 0s ease-in-out;

  &:is(:hover, :focus) {
    color: black !important;
    background-color: var(--c-atu-gold);
    cursor: pointer;
  }

  &:is(:active) {
    box-shadow: none;
  }
}

/* Media Query for display sizes, allows nav content to flow properly */
@media only screen and (min-width: 800px) {
  nav {
    ul {
      display: flex;
      list-style-type: none;
      font-size: 1.15rem;
      font-weight: bold;
      gap: 0.5em;

      padding: 0.5em !important;
      margin: 0 !important;

      li {
        a {
          display: flex;
          color: var(--c-white);
          text-decoration: none;
          align-items: center;
          justify-content: center;

          /* Override the default styling for .btn components */
          padding: 0 1em !important;

          &:is(:hover, :focus) {
            color: var(--c-black) !important;
            background-color: var(--c-atu-gold-alt);
            border-radius: var(--b-radius);
            box-shadow: var(--box-shadow);
            cursor: pointer;
          }

          .link-icon {
            margin-top: 0.5em;
            margin-right: 0.5em;
          }
        }
      }
    }
  }
}