---
import Page from "@layouts/Page";
import type { PageProps } from "@layouts/Page";

const props: PageProps = {
  title: "Contact Us",
  description:
    "How to contact the people involved with Arkansas Tech University Machine Learning",
};
---

<Page title={props.title} description={props.description}>
  <h1>Get In Contact Placeholder</h1>
</Page>
